#post_show
  .post_title_show
    = @post.title
  .post_show_content
    = @post.content


  - if @post.user == current_user
    = link_to "Edit", edit_post_path(@post)
    = link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to dlete that post?"}
  = link_to "Home", root_path


  #comments
    .h2= @post.comments.count
    = render @post.comments

    .h3 Reply
    = render "comments/comment_form"