!!!
%html
%head
  .title 
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">

  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

.body
  %header.main_header.clearfix
    #logo
      %p= link_to "Nice Forum. Sign up and write some posts!", root_path
    .button.pull-right
      - if user_signed_in?
        = link_to "New Post", new_post_path
        /
        / = link_to "//Profile //", my_posts_preview_posts_path

        = link_to "Log Out", destroy_user_session_path, method: :delete


        .btn-group
          %button.btn.btn-default.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
            Action
            %span.caret
          %ul.dropdown-menu
            %li
              = link_to "HTML", root_path
            %li
              = link_to "cjdsvjknv", root_path


      -else
        = link_to "Sign In", new_user_session_path
        /
        = link_to "Sign Up", new_user_registration_path

  .wrapper
    .p.notice= notice
    .p.alert= alert

  .wrapper
    = yield

    = render 'layouts/footer'

